* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: #1f2937;
    flex-wrap: nowrap;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 300px;
    color: #e5e7eb;
    font-size: 18px;
    gap: 10px;
    justify-content: center;
    max-height: 100%;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    padding: 20px 0;
    margin: 0;
}

.right {
    display: flex;
    flex: 1;
    height: 300px;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    border: none;
    height: 30px;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.image-container {
    display: flex;
    gap: 30px;
    padding: 0 150px;
}

div.image-1 {
    display: flex;
    flex: 1;
    border-radius: 6%;
    max-width: 100%;
    max-height: 100%;
    border: 3px solid #3882F6;
    overflow: hidden;
}
